name = "septum"
description = "An interactive context-based text search tool for large codebases."
version = "0.0.1-beta1"
website = "https://github.com/pyjarrett/septum"

authors = ["Paul Jarrett"]
licenses = "Apache-2.0"
maintainers = ["Paul Jarrett <jarrett.paul.young@gmail.com>"]
maintainers-logins = ["pyjarrett"]
tags = ["search", "code", "text"]

executables = ["septum"]

[gpr-set-externals.'case(os)']
windows = { Septum_Platform = "windows" }
linux = { Septum_Platform = "linux" }
macos = { Septum_Platform = "macos" }

[available.'case(os)']
linux = true
windows = true
macos = false

[[depends-on]]  # Added by alr
dir_iterators = "~0.0.3"  # Added by alr
[[depends-on]]  # Added by alr
progress_indicators = "~0.0.1"  # Added by alr
[[depends-on]]  # Added by alr
gnatcoll = "^21.0.0"  # Added by alr
[[depends-on]]  # Added by alr
trendy_terminal = "~0.0.2"  # Added by alr
[[pins]]  # Added by alr
trendy_terminal = { path='../trendy_terminal' }   # Added by alr
[[depends-on]]  # Added by alr
gnat_native = "=10.3.1"  # Added by alr
[[depends-on]]  # Added by alr
atomic = "~0.3.0"  # Added by alr
